<!DOCTYPE html>
<html>
<head>
    <title>Saram Manager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/assets/skin/test/css/bootstrap.min.css" rel="stylesheet">

    <style type="text/css">
        #flotcontainer {
            width: 600px;
            height: 200px;
            text-align: center;
            margin: 0 auto;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span2">
            menu
        </div>
        <div class="span10">
            <div id="flotcontainer"></div>
            <%=cpus%>
        </div>
    </div>
</div>
<script src="/assets/skin/test/js/jquery.js"></script>
<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="http://static.pureexample.com/js/flot/excanvas.min.js"></script><![endif]-->
<script type="text/javascript" src="http://static.pureexample.com/js/flot/jquery.flot.min.js"></script>
<script type="text/javascript" src="http://static.pureexample.com/js/flot/jquery.flot.time.js"></script>
<script type="text/javascript" src="http://static.pureexample.com/js/flot/jquery.flot.axislabels.js"></script>
<script src="/assets/skin/test/js/bootstrap.min.js"></script>

<!-- Javascript -->
<script>
    var data = [];
    var dataset;
    var totalPoints = 50;
    var updateInterval = 1000;
    var now = new Date().getTime();


    function GetData() {
        data.shift();

        while (data.length < totalPoints) {
            var y = Math.random() * 100;
            var temp = [now += updateInterval, y];

            data.push(temp);
        }
    }

    var options = {
        series: {
            lines: {
                show: true,
                lineWidth: 1.2,
                fill: true
            }
        },
        xaxis: {
            mode: "time",
            tickSize: [2, "second"],
            tickFormatter: function (v, axis) {
                var date = new Date(v);

                if (date.getSeconds() % 20 == 0) {
                    var hours = date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
                    var minutes = date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
                    var seconds = date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds();

                    return hours + ":" + minutes + ":" + seconds;
                } else {
                    return "";
                }
            },
            axisLabel: "Time",
            axisLabelUseCanvas: true,
            axisLabelFontSizePixels: 12,
            axisLabelFontFamily: 'Verdana, Arial',
            axisLabelPadding: 10
        },
        yaxis: {
            min: 0,
            max: 100,
            tickSize: 5,
            tickFormatter: function (v, axis) {
                if (v % 10 == 0) {
                    return v + "%";
                } else {
                    return "";
                }
            },
            axisLabel: "CPU loading",
            axisLabelUseCanvas: true,
            axisLabelFontSizePixels: 12,
            axisLabelFontFamily: 'Verdana, Arial',
            axisLabelPadding: 6
        },
        legend: {
            labelBoxBorderColor: "#fff"
        }
    };

    $(document).ready(function () {
        GetData();

        dataset = [
            { label: "CPU", data: data }
        ];

        $.plot($("#flotcontainer"), dataset, options);

        function update() {
            GetData();

            $.plot($("#flotcontainer"), dataset, options)
            setTimeout(update, updateInterval);
        }

        update();
    });



</script>
</body>
</html>